@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* Overall Formatting */
.gameclient {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 170, 96);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 60px;
    font-family: sans-serif;
}

/* Buttons */

.gameclient button {
    font-size: 150%;
    padding: 10px;
    margin: 20px;
}

/* Overall Formatting */

.gameclient .divRow {
    display: flex;
    flex-wrap: nowrap;
}

.gameclient .gametitle {
    font-weight: 800;
}

.gameclient .topbar {
    display: flex; 
    justify-content: space-around;
}

.gameclient .quitbutton {
    font-size: 40px;
    font-weight: 800;
    padding: 0;
    width: 100px;
    margin-left:auto; margin-right:0;
    margin: 0;
}

.gameclient .subScreenFrame {
    margin: 30px;
}

.gameclient .promptPrefix {
    background-color: #00000020;
}
.gameclient .prompt {
    font-weight: 800;
}
.gameclient .inputText {
    font-size: 150%;
    width: 95%;
}

.gameclient .answerBox {
    border: 3px solid #00000080;
    margin: 5px;
    padding: 5px;
    margin-bottom: 20px;
    width: 700px;
}
.gameclient .answerText {
    text-wrap: wrap;
    width: 700px;
    font-size: 80%;
    height: 100%;
}
.gameclient .answerButton {
    font-size: 80%;
    width: 100px;
    height: 80px;
    padding: 0px;
    margin: 5px;
}
