.gamepresenter {
    width: 100%;
    height: 100%;
    background-color: rgb(207, 86, 0);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gamepresenter .gameTitle {
    font-size: 150%;
    font-weight: 600;
}


.gamepresenter button {
    font-size: 120%;
    padding: 5px;
}

.gamepresenter input {
    font-size: 100%
}

.gamepresenter .question {
    font-size: 150%;
    font-style: italic;
    padding: 20px;
}


.gamepresenter .divRow {
    display: flex;
    flex-wrap: nowrap;
}

.gamepresenter .answerBox {
    width: 40%;
    text-align: right;
}

.gamepresenter .nameBox {
    padding: 20px;
}

.gamepresenter .roomCode {
    margin-right: 50px;
}

.gamepresenter .gameCanvasFrame{

    margin: 50px
}

.gamepresenter .gameCanvas {

    background-color: gray;
}


