// Copy this file to secrets.ts, which is gitignored, and put your secret id's there.


export const googleTrackingIds =[
    // examples:
    //{name: "hamburger", trackingId: "G-SOMETHING"},
    //{name: "pizza", trackingId: "UA-000000000-7"},
]